/* Hide the default radio button */
.time-picker .r-item input[type="radio"] {
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: -10;
    opacity: 0.1;
}

/* Style the container of the custom radio button */
.time-picker .r-item {
    display: inline-block;
    margin: 5px;
    position: relative;
}

.time-picker .r-item:last-child {
    display: inline-block;
}

/* Style the custom radio button */
.time-picker .r-item .r-label {
    display: block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 4px solid var(--highlight-colors-1);
    line-height: 32px;
    text-align: center;
    background-color: var(--highlight-colors-1);
    color: var(--primary-color-1);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border-radius: var(--rounded-corners);
}
.time-picker .r-item:last-child {
    padding-right: 40px;
}

.time-picker .r-item input[type="radio"]:disabled + .r-label {
    background-color: transparent;
    color: var(--highlight-colors-1);
    border: 4px solid transparent;
}

/* Change the background color and text color when selected */
.time-picker .r-item input[type="radio"]:checked + .r-label {
    background-color: var(--primary-color-1);
    border: 4px solid var(--highlight-colors-2);
    color: white;
    line-height: 32px;
}
.time-picker .r-item input[type="radio"]:focus + .r-label {
    outline: 4px solid yellow;
}

.time-picker {
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Karla';
    box-sizing: border-box;
}