.reservation-form {
    display: 'grid';
    grid-template-areas: '1fr';
    gap: '20px';
    padding: '20px';
}

.reservation-form input, .reservation-form select {
    color: 'black';
    padding: '10px';
    border: 'none';
    border-radius: '8px';
}

.reservation-form .section-label {
    font-size: 20px;
    font-family: 'Karla';
    font-weight: bolder;
    margin-bottom: 10px;
    color: var(--highlight-colors-2);
    align-self: start;
}

.reservation-form .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reservation-form .page-title {
    font-family: 'Karla';
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color-1);
}

.submit > button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-color-2); /* Example background color */
    color: var(--highlight-colors-2);
    font-family: 'Karla';
    font-weight: bolder;
    font-size: 22px;
    border: none;
    padding: 10px 20px;
    border-radius: var(--rounded-corners);
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    width: 100% ;
}

/* Angular submit > buttonutton: Hover State */
.submit > button:not(:disabled):hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--primary-color-2);
    transform: translateY(-0.25em);
}

/* Angular submit > buttonutton: Focus State */
.submit > button:not(:disabled):focus {
    outline: none; /* Remove default focus outline */
    box-shadow: inset 0.5em 0.5em 0.5em -0.4em var(--highlight-colors-2);
    transform: translateY(+0.25em);
}

/* Angular submit > buttonutton: Active State */
.submit > button:not(:disabled):active {
    box-shadow: inset 0.5em 0.5em 0.5em -0.4em var(--highlight-colors-2);
    transform: translateY(+0.25em);
}

/* Angular submit > buttonutton: Disabled State */
.submit > button:disabled {
    background-color: var(--disabled-color); /* Grey for disabled state */
    color: rgb(116, 116, 116); /* Grey for disabled state */
    cursor: not-allowed;
    opacity: 0.6; /* Slightly transparent to indicate disabled state */
}
.submit-loading:disabled {
    box-shadow: inset 0.5em 0.5em 0.5em -0.4em rgb(59, 59, 59);
}

.reservation-form .time,
.reservation-form .guests,
.reservation-form .page-title {
    padding-left: 15px;
    position: relative;
}

.reservation-form .name,
.reservation-form .date,
.reservation-form .email,
.reservation-form .submit,
.reservation-form .occasion,
.reservation-form .form-errors {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.input-error {
    color:var(--error-color);
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  {
     /* tablet, landscape iPad, lo-res laptops ands desktops */
    .reservation-form .name,
    .reservation-form .date,
    .reservation-form .email,
    .reservation-form .submit,
    .reservation-form .occasion,
    .reservation-form .form-errors {
        margin-left: 10%;
        margin-right: 10%;
    }
    .reservation-form .time,
    .reservation-form .guests,
    .reservation-form .page-title {
        padding-left: 10%;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .reservation-form .time,
    .reservation-form .guests,
    .reservation-form .page-title {
        padding-left: var(--page-left-right-margins-for-1281px);
    }

    .reservation-form .name,
    .reservation-form .date,
    .reservation-form .email,
    .reservation-form .submit,
    .reservation-form .occasion,
    .reservation-form .form-errors {
        margin-left: var(--page-left-right-margins-for-1281px);
        margin-right: var(--page-left-right-margins-for-1281px);
        position: relative;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */}
