
@font-face {
  font-family: 'Markazi Text';
  src: url('./assets/fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}
/* @font-face {
  font-family: 'Markazi Text';
  src: url('../assets/fonts/MarkaziText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: 'Markazi Text', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root {
  --radius: 100%;
  --page-left-right-margins-for-1281px: calc(((100% - 70px) * 0.16) + 70px);
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --highlight-colors-1: #EDEFEE;
  --highlight-colors-2: #333333;
  --disabled-color: #D9D9D9;
  --page-title-font-size: 64px;
  --page-subtitle-font-size: 40px;
  --rounded-corners: 8px;
}

.action-button {
  height: 58px;
  width: 200px;
  background-color: var(--primary-color-2);
  font-family: 'Markazi text';
  font-size: 24px;
  line-height: 0;
  color: var(--highlight-colors-2);
  font-weight: 500;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  border: none;
}


.empty-block {
  grid-area: empty;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */}